.nav__main {
  background-color: #ffffff;
  display: inline-flex;
  min-width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.nav__left {
  padding-left: 25px;
}

.nav__left :link span {
  vertical-align: middle;
}

.nav__left :link {
  text-decoration: none;
}

.nav__right {
  float: right;
  padding-right: 25px;
}

.nav__rightLink {
  padding-left: 15px;
}
