.property-main {
  display: flex;
  position: relative;
  top: 80px;
}

.home-details-main {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: calc(100vw - 228px);
}