.sidebar-info {
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  background-color: white;
  width: 200px;
}

.sidebar-info p {
  font-weight: 500;
  word-wrap: break-word;
}

.sidebar-list {
  color: #383838;
  line-height: 0.1cm;
  align-items: center;
}

.home-info {
  text-align: center;
  width: 100%;
}

.goto-recent-property {
  line-height: 0.1cm;
  text-decoration: none;
  color: #383838;
  padding-bottom: 20px;
}

.sidebarArea {
  border-radius: 4px;
  border-bottom: 2px solid #f8f8f8;
  cursor: pointer;
}
