.sidebar-info {
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  /* background-color: white; */
  width: 200px;
}

.sidebar-info p {
  font-weight: 500;
  word-wrap: break-word;
}

.sidebar-list {
  line-height: 0.1cm;
  align-items: center;
}

.home-info {
  text-align: center;
  width: 100%;
}

.goto-recent-property {
  line-height: 0.1cm;
  text-decoration: none;
  color: orange;
  padding-bottom: 20px;
}

.sidebar-area {
  border-bottom: 0.1px solid;
  cursor: pointer;
}
