.RecentProperty {
  width: 100%;
  /* padding-left: 17%; */
  color: #05386b;
  background-color: #f8f8f8;
}

.recent-property-list {
  flex-wrap: wrap;
  display: flex;
  margin: 5px;
  color: #05386b;
}
