.blog-loading {
  text-align: center;
  padding-top: 10px;
}

.list1 {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px 100px;
}

.blog-body {
  padding: 10px;
}

.post-info {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}

.category {
  box-shadow: var(--custom-box-shadow);
  background: orange;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 5px;
}

.date {
  padding-left: 10px;
}

.blog-list {
  border-radius: 4px;
  margin: 8px;
  flex-grow: 1;
  /* background-color: white; */
  box-shadow: var(--custom-box-shadow);
  cursor: pointer;
}

.blog-list a {
  text-decoration: none;
  color: initial;
}

/* .image {
  height: 112px !important;
}
*/

.image img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
  width: 100%;
}

.loading {
  padding-top: 100px;
  text-align: center;
}

.errorMessage {
  padding-top: 100px;
  text-align: center;
}
.source {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
}