.login {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f8f8f8;
}
.loginContainer {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--custom-box-shadow);
}
.loginContainer > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}
.loginContainer > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: orange !important;
  color: white;
}
